.site-nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.site-nav__link.current {
  position: relative;
}

.site-nav__link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: block;
  bottom: 0px;
  left: 0;
}

.header {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}
.site-nav {
  display: flex;
  justify-content: flex-end;
}
/* .header-item {
  margin-left: 40px;
}
.header-item:first-child {
  margin-left: 0;
} */
