.works {
  padding-top: 100px;
  padding-bottom: 85px;
  background-color: #c4c4c4;
  background-image: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%),
    linear-gradient(90deg, #4dc299 20.44%, #b290e6 80.91%);
  background-size: 100% 50%;
  background-position: top, bottom;
  background-repeat: no-repeat;
}
.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  color: var(--secondary-title-color);
  width: 540px;
}

.works__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.card-list {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 85px;
}

.card-list__item:not(:last-child) {
  margin-right: 30px;
}

.card-list__item {
  width: 350px;
}

.card-list__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--third-title-color);
}

.card-list__numbers {
  color: var(--accent-color);
}
.card-list__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: var(--main-text-color);
  margin-bottom: 30px;
}

.card-list__item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  text-decoration-line: underline;
  color: var(--accent-color);
}
